#COVID 19 - *Comparison between cases with lockdown and without lockdown in Chennai*

## Importing

In [320]:
 import pandas as pd
 import matplotlib.pyplot as plt
 %matplotlib inline
 import seaborn as sns
 import plotly.express as px
 import plotly.graph_objects as go
 import folium
 from folium import plugins

In [321]:
import pandas.util.testing as tm

##Reading the dataset

In [322]:
df= pd.read_excel('/content/chennai.xlsx')
df_chennai = df.copy()
df

         DATE  confirmed  deceased  recovered
0  2020-04-01        234         1          6
1  2020-04-02        309         1          6
2  2020-04-03        411         1          6
3  2020-04-04        485         3          8
4  2020-04-05        571         5          8
..        ...        ...       ...        ...
70 2020-06-10      25937       257      12591
71 2020-06-11      27398       276      13808
72 2020-06-12      28924       291      14723
73 2020-06-13      30444       314      15947
74 2020-06-14      31896       344      16881

[75 rows x 4 columns]

In [323]:
df.head()

        DATE  confirmed  deceased  recovered
0 2020-04-01        234         1          6
1 2020-04-02        309         1          6
2 2020-04-03        411         1          6
3 2020-04-04        485         3          8
4 2020-04-05        571         5          8

## Creating individual data frames for Confirmed, Deceased and Recovered

In [324]:
confirmed=df[['DATE', 'confirmed']]

In [325]:
confirmed.tail()

         DATE  confirmed
70 2020-06-10      25937
71 2020-06-11      27398
72 2020-06-12      28924
73 2020-06-13      30444
74 2020-06-14      31896

In [326]:
deceased=df[['DATE','deceased']]

In [327]:
deceased.tail()

         DATE  deceased
70 2020-06-10       257
71 2020-06-11       276
72 2020-06-12       291
73 2020-06-13       314
74 2020-06-14       344

In [328]:
recovered=df[['DATE','recovered']]

In [329]:
recovered.tail()

         DATE  recovered
70 2020-06-10      12591
71 2020-06-11      13808
72 2020-06-12      14723
73 2020-06-13      15947
74 2020-06-14      16881

## Prediction

In [330]:
from fbprophet import Prophet

### Confirmed

In [ ]:
confirmed.columns = ['ds','y']
#confirmed['ds'] = confirmed['ds'].dt.date
confirmed['ds'] = pd.to_datetime(confirmed['ds'])

In [338]:
confirmed.tail()

           ds      y
70 2020-06-10  25937
71 2020-06-11  27398
72 2020-06-12  28924
73 2020-06-13  30444
74 2020-06-14  31896

In [339]:
m = Prophet(interval_width=0.95)
m.fit(confirmed)
future = m.make_future_dataframe(periods=5)
future.tail()

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

           ds
75 2020-06-15
76 2020-06-16
77 2020-06-17
78 2020-06-18
79 2020-06-19

In [340]:
#predicting the future with date, and upper and lower limit of y value
forecast = m.predict(future)
forecast[['ds', 'trend','yhat', 'yhat_lower', 'yhat_upper']].tail()

           ds         trend          yhat    yhat_lower    yhat_upper
75 2020-06-15  31933.816660  31839.512837  31218.567759  32478.188615
76 2020-06-16  33089.075814  33005.734967  32338.077511  33627.696271
77 2020-06-17  34244.334968  34225.566540  33574.288690  34869.695790
78 2020-06-18  35399.594122  35391.353233  34684.161231  36094.763002
79 2020-06-19  36554.853276  36613.592883  35812.202966  37480.847271

In [341]:
forecast.rename(columns={'trend': 'confirmed'}, inplace=True)
forecast.head()

          ds   confirmed  ...  multiplicative_terms_upper        yhat
0 2020-04-01  352.674234  ...                         0.0  333.905807
1 2020-04-02  411.300873  ...                         0.0  403.059985
2 2020-04-03  469.927512  ...                         0.0  528.667119
3 2020-04-04  528.554150  ...                         0.0  651.735078
4 2020-04-05  587.180787  ...                         0.0  609.914237

[5 rows x 16 columns]

In [342]:
final1=forecast[['ds','confirmed']].tail()

In [343]:
final1.tail()

           ds     confirmed
75 2020-06-15  31933.816660
76 2020-06-16  33089.075814
77 2020-06-17  34244.334968
78 2020-06-18  35399.594122
79 2020-06-19  36554.853276

### Deceased

In [ ]:
deceased.columns = ['ds','y']
deceased['ds'] = pd.to_datetime(deceased['ds'])

In [345]:
deceased.tail()

           ds    y
70 2020-06-10  257
71 2020-06-11  276
72 2020-06-12  291
73 2020-06-13  314
74 2020-06-14  344

In [ ]:
m = Prophet(interval_width=0.95)
m.fit(deceased)
future = m.make_future_dataframe(periods=5)
future.tail()

In [347]:
forecast = m.predict(future)
forecast[['ds', 'trend','yhat', 'yhat_lower', 'yhat_upper']].tail()

           ds       trend        yhat  yhat_lower  yhat_upper
75 2020-06-15  328.440372  327.167013  316.278806  338.244912
76 2020-06-16  341.950801  341.478377  330.924530  353.146267
77 2020-06-17  355.461229  353.877133  343.007543  365.277939
78 2020-06-18  368.971658  368.704474  357.008570  380.969994
79 2020-06-19  382.482086  382.430858  370.333278  395.020286

In [348]:
forecast.rename(columns={'trend': 'deceased'}, inplace=True)

In [349]:
forecast.tail()

           ds    deceased  ...  multiplicative_terms_upper        yhat
75 2020-06-15  328.440372  ...                         0.0  327.167013
76 2020-06-16  341.950801  ...                         0.0  341.478377
77 2020-06-17  355.461229  ...                         0.0  353.877133
78 2020-06-18  368.971658  ...                         0.0  368.704474
79 2020-06-19  382.482086  ...                         0.0  382.430858

[5 rows x 16 columns]

In [350]:
final2=forecast[['ds', 'deceased']].tail()

In [351]:
final2.tail()

           ds    deceased
75 2020-06-15  328.440372
76 2020-06-16  341.950801
77 2020-06-17  355.461229
78 2020-06-18  368.971658
79 2020-06-19  382.482086

### Recovered

In [ ]:
recovered.columns = ['ds','y']
recovered['ds'] = pd.to_datetime(recovered['ds'])

In [353]:
recovered.tail()

           ds      y
70 2020-06-10  12591
71 2020-06-11  13808
72 2020-06-12  14723
73 2020-06-13  15947
74 2020-06-14  16881

In [354]:
m = Prophet(interval_width=0.95)
m.fit(recovered)
future = m.make_future_dataframe(periods=5)
future.tail()

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

           ds
75 2020-06-15
76 2020-06-16
77 2020-06-17
78 2020-06-18
79 2020-06-19

In [355]:
forecast = m.predict(future)
forecast[['ds', 'trend','yhat', 'yhat_lower', 'yhat_upper']].tail()

           ds         trend          yhat    yhat_lower    yhat_upper
75 2020-06-15  15898.495837  15807.252875  15128.819411  16483.280417
76 2020-06-16  16447.075939  16328.236968  15608.018851  16968.918774
77 2020-06-17  16995.656040  16939.144464  16283.713376  17595.316669
78 2020-06-18  17544.236142  17510.908532  16851.084399  18116.310668
79 2020-06-19  18092.816243  18149.286056  17516.013575  18876.152234

In [356]:
forecast.rename(columns={'trend': 'recovered'}, inplace=True)
forecast.head()

          ds  recovered  ...  multiplicative_terms_upper        yhat
0 2020-04-01 -13.714359  ...                         0.0  -70.225935
1 2020-04-02   0.498999  ...                         0.0  -32.828610
2 2020-04-03  14.712357  ...                         0.0   71.182170
3 2020-04-04  28.925715  ...                         0.0  154.738399
4 2020-04-05  43.139074  ...                         0.0  160.777697

[5 rows x 16 columns]

In [357]:
final3=forecast[['ds', 'recovered']].tail()

In [358]:
final3.tail()

           ds     recovered
75 2020-06-15  15898.495837
76 2020-06-16  16447.075939
77 2020-06-17  16995.656040
78 2020-06-18  17544.236142
79 2020-06-19  18092.816243

## Status Quo

In [359]:
print(final1.tail())
print()
print(final2.tail())
print()
print(final3.tail())

           ds     confirmed
75 2020-06-15  31933.816660
76 2020-06-16  33089.075814
77 2020-06-17  34244.334968
78 2020-06-18  35399.594122
79 2020-06-19  36554.853276

           ds    deceased
75 2020-06-15  328.440372
76 2020-06-16  341.950801
77 2020-06-17  355.461229
78 2020-06-18  368.971658
79 2020-06-19  382.482086

           ds     recovered
75 2020-06-15  15898.495837
76 2020-06-16  16447.075939
77 2020-06-17  16995.656040
78 2020-06-18  17544.236142
79 2020-06-19  18092.816243

In [360]:
final = pd.merge(final1, final2, on='ds')

In [361]:
finals=pd.merge(final, final3, on='ds')

In [362]:
finals.rename(columns={'ds': 'DATE'}, inplace=True)

In [ ]:
finals.tail()

In [ ]:
df= pd.read_excel('/content/chennai2.xlsx')
df_chennai = df.copy()
df

##OUTPUT

In [365]:
#without lockdown
df

        DATE  confirmed  deceased  recovered
0 2020-06-15      33244       379      14746
1 2020-06-16      34245       419      18565
2 2020-06-17      35556       458      19027
3 2020-06-18      37070       498      19686
4 2020-06-19      38327       526      21098

In [366]:
#with lockdown
finals.tail()

        DATE     confirmed    deceased     recovered
0 2020-06-15  31933.816660  328.440372  15898.495837
1 2020-06-16  33089.075814  341.950801  16447.075939
2 2020-06-17  34244.334968  355.461229  16995.656040
3 2020-06-18  35399.594122  368.971658  17544.236142
4 2020-06-19  36554.853276  382.482086  18092.816243